@layout("/common/_container.html"){
<style>
    .row{
        margin-bottom: 25px;
    }
    .btn-group-m-t {
        margin-top: 40px;
    }
    .float-e-margins .btn{
        margin-right: 24px;
        padding: 6px 54px;
    }
    .spacing{
        padding: 7px 0 0 27px;
    }
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" style="margin-top: 30px;">

            <input id="id" type="hidden" value="${user.id}">

            <div class="row">
                <label class="col-sm-3 col-xs-3 control-label">*登录账号:</label>
                <div class="col-sm-8 col-xs-8 spacing">
                    <span>${user.account}</span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 col-xs-3 control-label">*用户姓名:</label>
                <div class="col-sm-8 col-xs-8 spacing">
                    <span>${user.name}</span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 col-xs-3 control-label">账号状态:</label>
                <div class="col-sm-8 col-xs-8 spacing">
                    <span>${user.statusName}</span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 col-xs-3 control-label">联系电话:</label>
                <div class="col-sm-8 col-xs-8 spacing">
                    <span>${user.phone}</span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 col-xs-3 control-label">电子邮箱:</label>
                <div class="col-sm-8 col-xs-8 spacing">
                    <span>${user.email}</span>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-8 col-sm-offset-3">
                    <button class="btn btn-danger" onclick="UserInfoDlg.close()" type="button">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/user/user_info.js"></script>
@}
